.display {
  width: 100%;
  margin: auto;
  border: 2px solid;
  margin-bottom: 10px;
  border-radius: 15px;
}
.input-screen,
.output-screen {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  text-align: right;
  background-color: inherit;
  padding: 0;
  border: 0;
  margin: 0;
}
