.buttons {
  justify-content: space-between;
}
button {
  cursor: pointer;
}

.equal {
  background: rgb(29, 161, 242);
  width: 46%;
  outline: none;
  border-radius: 5px;
}
.equal:hover {
  background: rgb(7, 150, 239);
}
.equal:active {
  background: white;
  transition: background-color 0.5s ease-out;
}
