.openHistory {
  background-color: red;
  position: fixed;
  left: 84%;
  bottom: 40%;
  width: 20rem;
  overflow: auto;
  transition: all 0.4s ease;
}

.closeHistory {
  background-color: red;
  position: fixed;
  left: 100%;
  bottom: 40%;
  width: 20rem;
  overflow: auto;
  transition: all 0.4s ease;
}

@media screen and (max-width: 1768.16px) {
  .openHistory {
    position: fixed;
  }
}

.closeButton {
  position: absolute;
  left: 95%;
  bottom: 85%;
}
